body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #3d3d3d;
    color: rgb(206, 205, 205);
}


.introo {

    height: 40rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #373737, #414141);
    box-shadow: 20px 20px 60px #343434,
        -20px -20px 60px #464646;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro-content {
    margin: 50px;
    color: #73B1A7;
    margin-right: 20px;
}

.header {
    color: #D85154;
    font-size: 3em;
}


.intro-img {
    width: 300px;
    border-radius: 50%;
    border: 10px solid #5c4d4d;
}

.animation {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;

}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.about {
    height: 40rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #373737, #414141);
    box-shadow: 20px 20px 60px #343434,
        -20px -20px 60px #464646;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.container-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-a {
    color: #D85154;
    padding: 10px;
    margin: 10px;
    font-size: 3em;
    margin-left: 50px;
}

.content-a {
    width: 40%;
    border-left: 3px solid rgb(151, 150, 150);
    padding: 20px;
}

.blank {
    width: 30em;
    height: 30em;
}

.s-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.s-card {
    flex-direction: row;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 23px;
    margin: 10px;


}




.link {
    color: #fcec70;
}

.card-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;


}

.header-s {
    color: #73B1A7
}



.logo {
    width: 50px;
    height: 50px;
}

.connect {
    height: 20rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #373737, #414141);
    box-shadow: 20px 20px 60px #343434,
        -20px -20px 60px #464646;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.c-cards {
    display: flex;
    justify-content: center;

}

.logo-c {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.about-a {
    height: 40rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #373737, #414141);
    box-shadow: 20px 20px 60px #343434,
        -20px -20px 60px #464646;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    .s-cards {
        flex-direction: column;
        align-items: flex-start
    }

    .s-card {
        justify-content: flex-start;
        height: 130px;
    }

    .about {
        height: 45em;
        justify-content: center;
    }

    .about-a {
        height: 30em;
        justify-content: center;
    }

    .header-a {
        font-size: 1.7em;
    }

    .blank {
        width: 2em;
        height: 2em;
    }

    .content-a {
        width: 70%;
    }

    .intro-img {

        width: 150px;
        border: 5px solid #5c4d4d;

    }

    .intro-content {
        margin: 10px;
        margin-left: 30px;
        width: 70%;
    }

    .introo {
        flex-direction: column-reverse;
        align-items: baseline;
        height: 30rem;
    }

    .connect {
        height: 10rem;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .logo-c {
        width: 35px;
        height: 35px;
    }

    .header {
        font-size: 2em;
    }

    .header-s {
        font-size: 1rem;
    }
}
